.nav {
  position: fixed;
  background-color: rgb(31, 31, 31);
  border: 2px solid rgba(255, 166, 0, 0.555);
  transition: all 0.17s ease-out;
}

.navList {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
}

.navItem {
  gap: 1rem;
  width: 100%;
}

.navList :last-child {
  margin-top: auto;
}

.navList :first-child > .button > svg {
  transform: rotate(90deg);
  transition: all 0.4s;
}

.navList :first-child:hover > .button > svg {
  transform: rotate(0deg);
}

.navItem svg {
  width: 2.5rem;
  min-width: 2.5rem;
  margin-left: 1.1rem;
}

.button {
  display: flex;
  align-items: center;
  background-color: transparent;
  height: max-content;
  width: 100%;
  border: none;
  filter: opacity(0.45) grayscale(100%);
  transition: all 0.4s;
}

.button:hover {
  filter: opacity(1) grayscale(0%);
}

.navButton {
  color: #ffa600;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.466);
}

.navItemText {
  display: none;
  font-size: 16px;
}

.nav:hover .navItemText {
  display: inline-block;
  color: #ffa600;
  margin-left: 1.2rem;
  margin-top: 0;
}

.logo {
  justify-content: center;
}

.logo > svg {
  margin-left: 0px;
}

.selected {
  filter: opacity(1) grayscale(0%);
  animation-name: select;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-delay: 0s;
}

@keyframes select {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    flex-direction: column;
    width: 6em;
    height: 100%;
  }
  .nav:hover {
    width: 12rem;
  }
  .navList {
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    bottom: 0;
    flex-direction: row;
    height: 5em;
    width: 100vw;
  }

  .nav:hover {
    height: 10rem;
  }

  ul.navList :last-child {
    margin-left: auto;
  }

  .navList {
    margin: 0 1rem 0 1rem;
  }

  .button {
    flex-direction: column-reverse;
  }

  .navList :first-child:hover > .button > svg {
    transform: rotate(-90deg);
  }
}
