.node {
  display: flex;
  width: 20px;
  height: 20px;
  outline: 0.5px rgb(163, 163, 163) solid;
  transition: all 0.3s;
}

.node:hover {
  background-color: hsla(27, 100%, 50%, 0.753);
  transform: scale(1.1);
}

.wallNode {
  background-color: hsla(0, 0%, 16%, 0.753);
  outline: 0.5px rgb(61, 61, 61) solid;
}

.visitedNode {
  background-color: hsla(51, 100%, 50%, 0.753);
}

.goalNode {
  background-color: hsla(12, 100%, 50%, 0.89);
}

.startNode {
  background-color: hsla(177, 100%, 47%, 0.753);
}
